@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale_blue: hsl(225, 100%, 94%);
  --bright_blue: hsl(245, 75%, 52%);
  --very_pale_blue: hsl(225, 100%, 98%);
  --desaturated_blue: hsl(224, 23%, 55%);
  --dark_blue: hsl(223, 47%, 23%);
  --bg_btn_active: hsl(245, 83%, 68%);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}

.container {
  padding: 1rem;
  background: var(--pale_blue) url(./images/pattern-background-desktop.svg) 50% 0 no-repeat fixed;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__wrapper {
  width: 20rem;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
  box-shadow: 0 5px 1.25rem -5px var(--desaturated_blue);
}

.hero__img {
  width: 100%;
  height: 100%;
  resize: both;
}

.card__body {
  padding: 1.5rem;
}

.card__body > * {
  margin-bottom: 1rem;
}

.card__title {
  color: var(--dark_blue);
  font-weight: 900;
}

.card__text,
.order__price,
.order__cancel { color: var(--desaturated_blue); }

.order_description {
  background-color: var(--very_pale_blue);
  padding: 1rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__details {
  display: flex;
}

.order__title {
  margin-left: .5rem;
  color: var(--dark_blue);
  font-weight: 700;
}

.order__chage { color: var(--bright_blue); }
.order__chage:hover { color: var(--bg_btn_active); }

.btn {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

.order__payment {
  background-color: var(--bright_blue);
  color: var(--very_pale_blue);
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 0 5px 2.25rem -5px var(--bright_blue);
}

.order__payment:hover {
  background-color: var(--bg_btn_active);
  box-shadow: 0 5px 2.25rem -5px var(--bg_btn_active);
}

.order__cancel:hover { color: var(--dark_blue); }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 375px) {
  .container { background: var(--pale_blue) url(./images/pattern-background-mobile.svg) 50% 0 no-repeat fixed; }
}